.places__image {
    grid-area: image;
    width: 100%;
    margin: 0;
    /* height: 100%; */
}


/* @media (max-width: 1279px) {
    .places__image {
        max-width: 440px;
        height: 440px;
    }
}

@media (max-width: 767px) {
    .places__image {
        max-width: 340px;
        height: 340px;
    }
}

@media (max-width: 424px) {
    .places__image {
        max-width: 320px;
        height: 320px;
    }
} */