.intro__list {
    list-style-type: none;
    margin: 0;
    padding: 33px 0 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media (max-width: 424px) {
    .intro__list {
        max-width: 288px;
    }
}