.header {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    min-height: 52px;
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media (max-width: 767px) {
    .header {
        max-width: 720px;
    }
}

@media (max-width: 424px) {
    .header {
        max-width: 288px;
        min-height: 42px;
    }
}