.lead__image {
    max-width: 984px;
    height: 615px;
    margin: 64px 0 0 0;
}

@media (max-width: 1279px) {
    .lead__image {
        max-width: 928px;
        height: 580px;
        margin: 56px 0 0 0;
    }
}

@media (max-width: 767px) {
    .lead__image {
        max-width: 768px;
        height: 480px;
        margin: 56px 0 0 0;
    }
}

@media (max-width: 424px) {
    .lead__image {
        max-width: 320px;
        height: 200px;
        margin: 40px 0 0 0;
    }
}