.places__place {
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "title url" "image text";
    grid-gap: 48px 40px;
    margin-bottom: 80px;
    padding: 0;
}

.places__place:last-child {
    margin-bottom: 0;
}

@media (max-width: 1279px) {
    .places__place {
        max-width: 928px;
        grid-gap: 48px 32px;
    }
}

@media (max-width: 768px) {
    .places__place {
        max-width: 720px;
        grid-gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media (max-width: 424px) {
    .places__place {
        max-width: 320px;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "url" "image" "text";
        gap: 32px;
        margin-bottom: 50px;
    }
}