.page__places {
    margin: 92px 148px;
}

@media (max-width: 1279px) {
    .page__places {
        margin: 92px 48px 0 48px;
    }
}

@media (max-width: 768px) {
    .page__places {
        margin: 88px 24px 0 24px;
    }
}

@media (max-width: 520px) {
    .page__places {
        margin: 64px 0 0 0;
    }
}